<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/pdf.css">
    <style>
        .fixed-row {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 10;
        }

        .locked-row {
            background-color: #fff;
            border-bottom: 2px solid #ccc;
            padding: 10px 0;
        }



    </style>
</head>
<body>
    <div class="container-fluid">
        <!-- <div class="row fixed-row">
            <div class="col">Content for row 1</div>
        </div> -->
    
        <hr class="my-2"> <!-- Divider -->
        <div class="row fixed-row">
            <div class="d-flex justify-content-around">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                  </div>
                  <canvas id="myCanvas" width="800" height="80" style="display:none;"></canvas>
                  <div class="" style=" width: 500px; border-radius: 5px; border: 2px solid #112049; " >
                    <div class=" saved-signatures" style="overflow-y: auto;">
                        <!-- Saved signatures will be appended here -->
                    </div>
                </div>
                <div class="">
                    <button type="button" class="btn btn-danger"  id="imageDelete">Delete</button>
                </div>
                <div class="">
                    <button type="button" class="btn btn-warning"  id="download-csv">Export</button>
                </div>
                <button id="addButton" type="button" class="btn btn-primary">Add</button>

              
                
            </div>
        </div>
    
        <hr class="my-2"> <!-- Divider -->
      <div class="container-fluid p-4">
    <div class="row g-4">
        <div class="col-2" id="button">
            <div class="text-center">
                <div class="btn_uploadImage">
                    <div class="p-2" style="height: 700px; width: 200px; overflow-y: auto; border: 2px solid #112049; border-radius: 5px;">
                        <div id="imageTabs">
                            <!-- เนื้อหาสำหรับแท็บภาพจะถูกสร้างที่นี่ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto">
            <div class="border border-2 border-[#112049] h-100" 
                style="max-height: 700px; overflow: auto; border-radius: 5px;" id="pdf-container">
                <!-- PDF Pages will be rendered here -->
            </div>
        </div>
    </div>
</div>

    </div>
    
    <!----------Script---------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <script src="https://unpkg.com/konva@9.3.12/konva.min.js"></script>
	<script src="./pdf-lib/pdf-lib.min.js"></script>
	<script src="./pdf-lib/download.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist/build/pdf.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <script src="../script/pdf.js"></script>
</body>
</html>
